.place__title {
  margin: 0;
  font-weight: 900;
  grid-area: title;
  font-size: 72px;
  line-height: 106%;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    align-self: flex-end;
  }
}

@media screen and (max-width: 550px) {
  .place__title {
    min-width: 288px;
    align-self: center;
    text-align: left;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (min-width:321px) and (max-width: 550px) {
  .place__title {
    min-width: 90%;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    align-self: flex-end;
  }
}
