.place__container {
  margin: 0;
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  grid-area: container;
}

.place__container:before {
  content: '';
  display: block;
  padding-bottom: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .place__container {
    min-width: 320px;
    margin: 32px 0 32px;
  }
}

@media screen and (min-width:321px) and (max-width: 424px) {
  .place__container {
    margin: 32px 0 32px;
  }
}
