.cover__subtitle {
  position: relative;
  max-width: 360px;
  padding: 0 0 245px;
  margin: 0 auto 0;
  align-self: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 1;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding: 0 0 195px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    padding: 0 0 115px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    padding: 0 0 33px;
    font-size: 14px;
    line-height: 114%;
  }
}
