.header__logo {
  background-image: url(../images/header__logo.svg);
  width: 176px;
  height: 52px;
  justify-self: flex-start;
  background-size: contain;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
