.lead__title {
  margin: 0 auto 32px;
  align-self: center;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 110%;
  }
}
@media screen and (min-width:321px) and (max-width: 424px) {
  .lead__title {
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 110%;
  }
}
