.cover__title {
  max-width: 560px;
  margin: 0 auto 0;
  position: relative;
  color: inherit;
  align-self: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    margin: 0 20px 0;
  }
}

@media screen and (min-width:321px) and (max-width: 550px) {
  .cover__title {
    font-size: 38px;
    line-height: 109%;
  }
}

@media screen and (min-width:550px) and (max-width: 767px) {
  .cover__title {
    font-size: 45px;
    line-height: 109%;
  }
}
