.place__paragraph_position_top {
  margin: 0 0 26px;
}

.place__paragraph_position_top:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .place__paragraph_position_top {
    margin-bottom: 25px;
  }
}
