.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 92px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 186px;
    margin: 64px auto 24px 16px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width:550px) and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (min-width:1025px) and (max-width: 1279px) {
  .footer {
    max-width: 92.5%;
  }
}
