.photo-grid__image {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
@media screen and (max-width: 550px) {
  .photo-grid__image {
    margin-bottom: 12px;
  }
  .photo-grid__image:last-child {
    margin-bottom: 0px;
  }
}
